.front {
    max-height: 50vh;
}

.frontContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.punkHighlight {
    display: flex;
    flex: 0.25;
    align-items: center;
    justify-content: center;
}

.punkContainer {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}

.selectedPunk {
    object-fit: contain;
    max-width: min(30vw, 40vh) ;
    max-height: 30vh;
}

/* .selectedPunk > img {
    width: 100%;
    height: 100%;
}
 */
.title {
    font-size: 96px;
    font-weight: 800;
}

.itemNumber {
    color: #a1a5b0;
    font-size: 72px;
    align-self: center;
}

.punkDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}

.owner {
    display: flex;
    margin: 10px 0;
    height: 50px;
}

.owner > div {
    margin: 0 5px;
}

.ownerImageContainer {
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 50%;
    border-radius: 50px;
}

.ownerImageContainer > img {
    width: 100%;
    height: 100%;
}

.ownerDetails {
    display: flex;
    align-items: center;
    flex: 1;
    color: #fff;
}

.nameAndHandle {
    flex: 1;
}

.handle {
    color: #00ebfe;
}

.ownerLink {
    padding: 12px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
}

.ownerLink > img {
    width: 100%;
    height: 100%;
}